<style>
  img {
    display: block;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    -mox-border-radius: 4px;
    margin: 20px 0 40px;
  }
</style>

<h2>Yönetici Yardım Sayfası</h2>
<hr />

<center>
  <p>Yönetici Girişi yaptığında bu ekran ile karşılaşılmaktadır. Kayıtlar ve sayılarını gösteren bir liste görülmektedir:</p>
  <img src="/assets/support/21.png"/>

  <p>“Yöneticiler”: Sisteme kayıtlı olan yöneticiler incelenebilir ve varlığı veya bilgileri düzenlenilebilir.</p>
  <p>“Ekle”: Sisteme yeni yönetici kaydı ekleme formunu ekrana gelir. Ad, soyad, email bilgileri doldurulması zorunlu alanlardır.</p>
  <img src="/assets/support/22.png"/>

  <p>“Listele”: Yöneticilerin ad, soyad, e-mail bilgileri ekrana gelir.</p>
  <img src="/assets/support/23.png"/>

  <p>
  Sağda bulunan butonlar ile:<br />
  “Göster”: Seçilen yöneticinin ad, soyad, e-mail, telefon numarası bilgileri ekrana gelir. Bilgilerin üzerinde değişiklik yapılamaz.
  </p>
  <img src="/assets/support/24.png"/>

  <p>
  “Düzenle”: Seçilen yönticinin ad, soyad, e-mail, telefon numarası, fotoğraf bilgileri ekrana gelir. Bilgiler güncellenilebilmektedir.
  </p>
  <img src="/assets/support/25.png"/>

  <p>“Sil”: Yöneticinin kaydını silinir. Silme işlemi gerçekleşmeden önce uyarı mesaj gönderilir:</p>
  <img src="/assets/support/26.png"/>
  <p></p>
</center>

