<form action="/institute/password_save" method="post" enctype="multipart/form-data" class="form-horizontal" >
  <fieldset>
    <legend>Parola Bilgileri</legend>
    <div class="control-group">
      <label class="control-label" for="input1">Kullandığınız Parola (*)</label>
      <div class="controls">
	<input type="password" class="input-xlarge required" id="input1" name="old_password">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input2">Yeni Parola (*)</label>
      <div class="controls">
	<input type="password" class="input-xlarge required" id="input2" name="new_password">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input3">Yeni Parola Tekrar (*)</label>
      <div class="controls">
	<input type="password" class="input-xlarge required" id="input3" name="new_password2">
      </div>
    </div>
  </fieldset>

  <div class="form-actions">
    <button type="submit" class="btn btn-primary">Parolamı Değiştir</button>
    <a class="btn" href="/institute">İptal</a>
  </div>
</form>

