<style>
  img {
    display: block;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    -mox-border-radius: 4px;
    margin: 20px 0 40px;
  }
</style>

<h2>Kurum Yardım Sayfası</h2>
<hr />

<center>
  <p>Kurum Girişi yaptığında bu ekran ile karşılaşılmaktadır:</p>
  <img src="/assets/support/14.png"/>

  <p>
  Menüde:<br />
  “Kurum Bilgileri”: sisteme kayıt olunurken verilen bütün bilgiler düzenlenilebilir. Örnek bir ekran görüntüsü:
  </p>
  <img src="/assets/support/15.png"/>

  <p>“Parola Değiştir”: parola değiştirilebilir. Örnek bir ekran görüntüsü:</p>
  <img src="/assets/support/16.png"/>

  <p>“Sorgula”: Kan grubu il ve/veya ilçe seçerek sistemde sorgu yapabilirler. Örnek bir ekran görüntüsü:</p>
  <img src="/assets/support/17.png"/>

  <p>Kurumlar Paneli'nde yapılan sogulamada, diğer kullanıcıların yaptığı sorgulamalardan farklı olarak, uygun donörlerin adı, soyadı ve donörlerin sistemdeki puanları da görülmektedir. Örnek ekran görüntüsü:
  </p>
  <img src="/assets/support/18.png"/>

  <p>Yapılan sorgu sonuçları yalnızca son 3 ay içinde kan vermemiş olan kişileri göstermektedir.</p>
  <p>
  Ayrıca sistem sorgulamada, her üç aydan sonra aynı kan bağışçısını seçmek yerine, her defasında farklı bir kişiyi seçebilecek kadar akıllıdır.
  </p>

  <p>“Sorguyu Pdf'e Dök” butonu, yapılan sorgu sonucu elde edilen uygun donörler listesini pdf formatında dışarı aktarır.</p>
  <p>“Donör İncele”: Uygun donörler listesinin her satırında göster butonu bulunmaktadır.</p>
  <p>Bu buton ile iki sekmeli yeni bir menü açılır.</p>

  <p>
  “Donör Bilgileri”:<br/>
  Donörün fotoğraf, kan grubu, adı, soyadı, puan, e-mail, telefon numarası, cinsiyet,  en son kan verme tarihi, doğum tarihi, il, ilçe, adres bilgileri ekrana getirilir.
  </p>

  <p>Örnek ekran görüntüsü:</p>
  <img src="/assets/support/19.png"/>

  <p>“Kan Verme Kayıt İşlemi”: Kurumların donörlerden aldıkları kan bağışını raporlamaları için gerekli formu ekrana getirir. </p>
  <img src="/assets/support/20.png"/>
</center>
