    <!-- HTML5 shim, for IE6-8 support of HTML5 elements --> 
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]--> 
<html lang="en">
  <body> 
    <div id="wrap"> 
      <div class="container"> 
        <div class="page-header"> 
          <h1>Hakkında</h1> 
        </div> 
        <p class="lead">Staj Yönetim Sistemi,
<ul>
<li><p class="lead">Staj yapmak isteyen öğrencilerin online olarak başvuru ve kayıt yapabilmesini, sisteme daha önceden kayıt yaptırmış ve onay almış kurumların ilan verebilmesini ve akademisyenlerin ilgili stajı onaylamasını sağlayarak iş yükünü azaltmayı hedefleyen bir sistemdir.</ul></p> 
      </div> 
      <div id="push"></div> 
    </div>  
  </body> 
</html>
 
    
