<center>
  <p class="lead">
  İletişim Bilgileri<br />
  Bilgisayar Mühendisliği Bölümü<br />
  Kurupelit Kampüsü 55139 Kurupelit / Samsun<br />
  Telefon: (362) 312 19 19 (Santral)<br />
  Bölüm Başkanı Dahili Telefon: --<br />
  Sekreterlik Dahili Telefon: --<br />
  e-posta: project.staj@bil.omu.edu.tr<br />
  </p>
</center>

