     <!-- Carousel
    ================================================== --> 
    <div id="myCarousel" class="carousel slide"> 
      <div class="carousel-inner"> 
        <div class="item active"> 
          <img src="http://i.imgur.com/FK2bB.jpg" alt=""> 
          <div class="container"> 
            <div class="carousel-caption"> 
              <h1>Bilgisayar Mühendisliği Bölümü</h1>
	      <p class="lead">Samsun Ondokuz Mayıs Üniversitesi</p>  
              <a class="btn btn-large btn-primary" href="http://ce.omu.edu.tr/a/" target="_blank">Bilgisayar Müh.</a> 
            </div> 
          </div> 
        </div> 
        <div class="item"> 
          <img src="http://i.imgur.com/Avm7g.jpg" alt=""> 
          <div class="container"> 
            <div class="carousel-caption"> 
              <h1>Kaynak Kodlarımız</h1> 
              <p class="lead">Çok çalıştık başardık :)</p>  
              <a class="btn btn-large btn-danger" href="https://github.com/kcd/staj" target="_blank">Github</a> 
            </div> 
          </div> 
        </div> 
        <div class="item"> 
          <img src="http://twitter.github.io/bootstrap/assets/img/examples/slide-02.jpg" alt=""> 
          <div class="container"> 
            <div class="carousel-caption"> 
              <h1>İş Planımız</h1> 
              <p class="lead">İşlerimizi burada düzenledik.</p>
              <a class="btn btn-large btn-warning" href="https://trello.com/board/project-staj/50a56686e9a20afb1e0020bb" target="_blank">Trello</a> 
            </div> 
          </div> 
        </div> 
      </div> 
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a> 
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a> 
    </div><!-- /.carousel --> 
 
 
 
    <!-- messaging and featurettes
    ================================================== --> 
    <!-- Wrap the rest of the page in another container to center all the content. --> 
  <center>
    <div class="container marketing"> 
 
      <!-- Three columns of text below the carousel --> 
      <div class="row"> 
        <div class="span4"> 
          <img class="img-circle" src="http://i.imgur.com/fSpYBtR.png"> 
          <h2>Kurum Kaydı</h2> 
          <p>Buradan kurumunuzu kaydedebilirsiniz.</p> 
          <p><a class="btn" href="home/institute_register">Kurum Kaydı &raquo;</a></p> 
        </div><!-- /.span4 --> 
        <div class="span4"> 
          <img class="img-circle" src="http://i.imgur.com/FcYrXQy.png"> 
          <h2>Staj İlanları</h2> 
          <p>Staj ilanlarını buradan kolayca takip edin :)</p> 
          <p><a class="btn" href="home/pro_adv">İlanlara Göz Atalım &raquo;</a></p> 
        </div><!-- /.span4 --> 
        <div class="span4"> 
          <img class="img-circle" src="http://i.imgur.com/VR0C7ZG.png"/>
          <h2>Staj Belgeleri</h2> 
          <p>Buradan zorunlu staj belgelerinize ulaşabilirsiniz. </p> 
          <p><a class="btn" href="home/pro_doc">Staj Belgeleri &raquo;</a></p> 
        </div><!-- /.span4 --> 
      </div><!-- /.row --> 
    </div><!-- /.container --> 
  </center>

