<style>
  img {
    display: block;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    -mox-border-radius: 4px;
    margin: 20px 0 40px;
  }
</style>

<h2>Kurum Yardım Sayfası</h2>
<hr />

<center>
  <p>Kan Bağışçısı Girişi yapıldığında bu ekran ile karşılaşılmaktadır:</p>
  <img src="/assets/support/09.png"/>

  <p>
  Menüde:<br />
  “Kişisel Bilgiler”: sisteme kayıt olunurken verilen bütün bilgiler düzenlenilebilir. Örnek bir ekran görüntüsü:
  </p>
  <img src="/assets/support/10.png"/>

  <p>“Parola Değiştir”: parola değiştirilebilir. Örnek bir ekran görüntüsü:</p>
  <img src="/assets/support/11.png"/>

  <p>“Sağlık Bilgileri”: Son kan bağışı tarihi güncellenelebilir. Örnek bir ekran görüntüsü:</p>
  <img src="/assets/support/12.png"/>

  <p>
  “Acil Kan Bağışı İsteği”: Acil kan bağışı isteği gönderilebilir. Donör herhangi bir kan bağışı yardımı için başka bir kan bağışçısı aramaları gerektiğinde bu formu doldurur. Form yöneticiye iletilecektir. Nedenin geçerliliğine göre sonuç alıncaktır.
  </p>
  <img src="/assets/support/13.png"/>
</center>
